<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:c="http://www.w3.org/1999/XSL/Transform" lang="en" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="alert" th:if="${errorMessage}" th:text="${errorMessage}"></div>


<div style="margin-top: 10%" class="login-form">
    <fieldset>
        <legend style="font-size: x-large"> Log In</legend>

        <form action="#" th:action="@{/login}" method="post">
            <div class="form-group">

                <label>User Name</label>
                <input type="text" name="username" class="form-control" placeholder="User Name">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            <input type="submit" class="btn btn-black" value="Login"></input>
            <button class="buttonsign"><a class="buttonA" th:href="@{/signup}">sign up</a></button>


        </form>
    </fieldset>
</div>
</body>
</html>